.background-gradient {
    background: linear-gradient(60deg, var(--v-primary-lighten5), var(--v-primary-lighten1));
}

.theme--dark,
.theme--light {
    .background-primary {
        background: var(--v-primary-base);
    }
}

.marginTop {
    margin-top: 72px;
}

.container.marginTop {
    width: calc(100vw - 56px);
    overflow-x: hidden;
}